<!DOCTYPE html>
<html>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>

<script language="javascript">
function sign() {
  var credID = document.getElementById('credID').value;
  var challenge = document.getElementById('challenge').title;
  var filters = {
    accept:[
      {
        type: 'FIDO_2_0',
        id: credID
      }
    ]
  };
  msCredentials.getAssertion(challenge, filters)
  .then(function(result) {
    //for debugging
    document.getElementById('signature').value = result.signature.signature;    
    document.getElementById('authnrdata').value = result.signature.authnrData;    
    document.getElementById('clientdata').value = result.signature.clientData;    
  }).catch(function (err) {
    alert('err: ' + err.message);
  });
}

</script>

  <head>
    <title>FIDO2.0 Authentication</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div id="challenge" title= "<%= challenge %>" />

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
	    <a class="navbar-brand" href="#">
	       FIDO 2.0 Authentication
	    </a>
	 </div>
      </div>
    </nav>

    <h3><p class="text-danger"><%= err %></p></h3>
    <h1>FIDO2.0 Authentication</h1>
    <p>FIDO Sample Application</p>

    <h2> STEP1.User Create </h2>
    <div>
        <a href="/registration"><button type="button" class="btn btn-primary btn-sm" style="WIDTH: 180px;">Sign-UP Now</button></a>
    </div>

    <h2> STEP2.Legacy Sign-In</h2>

    <form action="/" method="post" class="login-form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
      </div>

<div>
      <button type="submit" class="btn btn-primary btn-sm" style="WIDTH: 180px;">Sign-In</button>
    </form>
</div>

<div>
   <h2>STEP4. FIDO Sign-In</h2>
   <div>
     At first, paste your "Credencial ID". <br>
     Then, push "FIDO_GET_ASSERTION" Button. <br>
     Finally, push "FIDO_Authentication" <br>
  <p>
   </div>
      <div>
        <button onclick="sign()" class="btn btn-primary btn-sm" style="WIDTH: 180px;">FIDO_GET_ASSERTION</button>
      </div>
 <p>
   <form action="/fido_authentication" method="post" class="fido">
      <div class="form-group">
        <label for="credencialID">Credential ID</label>
        <input type="text" class="form-control" id="credID" placeholder="credentialID" name="credID">
      </div>

      <div class="form-group">
         <label for="signature">Signature</label>
         <input type="text" class="form-control" id="signature" placeholder="Signature" name="signature">
      </div>

      <div class="form-group">
         <label for="authnrdata">Authnr Data</label>
         <input type="text" class="form-control" id="authnrdata" placeholder="Authnr Data" name="authnrdata">
      </div>

   <div class="form-group">
         <label for="clientdata">Client Data</label>
         <input type="json" class="form-control" id="clientdata" placeholder="Client Data" name="clientdata">
   </div>

      <div>
        <button type="submit" class="btn btn-primary btn-sm" style="WIDTH: 180px;">FIDO_Authentication!</button>
      </div>
    </form>
</div>

  </body>
</html>
