<!DOCTYPE html>
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/webauthn.js"></script>
<script language="javascript">

function make() {
var username = document.getElementById( 'username' ).title;
  var accountInfo = {
    rpDisplayName: 'fidoSampleWeb', // Name of relying party
    userDisplayName: username // Name of user account
  };
  var cryptoParameters = [
    {
      type: 'ScopedCred',  // also 'FIDO_2_0' is okay !
      algorithm: 'RSASSA-PKCS1-v1_5'
    }
  ];
  navigator.authentication.makeCredential(accountInfo, cryptoParameters)
  .then(function (result) {
    document.getElementById('credID').value = result.credential.id;
    document.getElementById('publicKey').value = JSON.stringify(result.publicKey);
  }).catch(function (err) {
      alert('err: ' + err.message);
  });
}

</script>

  <div id="username" title= <%= user_email %> />
  <head>
    <title>FIDO2.0 Authentication</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">
               FIDO 2.0 Authentication
            </a>
         </div>
         <div class="collapse navbar-collapse" id="navbarEexample8">
	   <p class="navbar-text navbar-right">Login User : <%= username %> </p>
         </div>
      </div>
    </nav>

    <h3><p class="text-danger"><%= err %></p></h3> 

    <h1>FIDO2.0 Authentication</h1>
<div>
 This is user page. <br>
 Please push "FIDO_MAKE_CREDENTIAL" Buttun. <br>
 Memolize or Copy "Credencial ID". <br>
 Push "Send Server!" to FIDO Registration. <br>
</div>

<div>
   <h2>STEP3.FIDO Registration</h2>
   <div>
     <button onclick="make()" class="btn btn-primary btn-sm" style="WIDTH: 180px;">FIDO_MAKE_CREDENTIAL</button>
   </div>
   <p>
   <form action="/fido_registration" method="post" class="fido">
      <div class="form-group">
         <label for="credID">Credential ID</label>
         <input type="text" class="form-control" id="credID" placeholder="credential ID" name="credID">
      </div>

      <div class="form-group">
         <label for="publicKey">Publick Key</label>
         <input type="json" class="form-control" id="publicKey" placeholder="Public Key" name="publicKey">
      </div>

      <div> 
        <button type="submit" class="btn btn-primary btn-sm" style="WIDTH: 180px;">Send Server!</button>
      </div>
    </form>
</div>


  <h2> for Log-out </h2>
  <div>
  <a href="/logout"> <button type="submit" class="btn btn-default btn-sm" style="WIDTH: 180px;">logout</button></a>
  </div>

  </body>
</html>
